body {
}


.Message {
       color: rgb(255, 0, 0);
    font-size: 14px;
    top: 7px;
    font-weight: initial;
}
.membertextbox
{
    margin-top:7px;
}
.pdfbutton{
    color: #fff !important;
    background-color: #35290f !important;
    border: 0px !important;
    margin-top: 7px;
}
.checkbox
{
    width:18px;
    height:18px;
}